html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Create a container div for the graph */
.choropleth_map {
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
}

